@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;1,100;1,400&family=Libre+Franklin:ital,wght@0,100;0,400;1,100&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  font-family: 'Kanit','Liber Franklin', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  
}


li{
  list-style: none;
}

