.fristInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 350px;
}

.TextWelCome {
  color: white;
  padding: 5px 40px 5px 50px;
}

.buttonClick {
  margin: 20px 0;
}

.ClickButton {
  padding: 18px 45px;
  background-color: #f5bd13;
  border-radius: 60px;
  transition: 0.5s;
  font-weight: bold;
  font-size: 15px;
}
.ClickButton:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}

.rulers {
  display: flex;
  margin-top: 80px;
  flex-direction: row;
}
.icon {
  color: white;
  width: 100%;
  text-align: center;
}
.rulers:before,
.rulers:after {
  content: "";
  border-bottom: 1px solid gray;
  flex: 1 1;
  margin: auto;
}
.second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 593;
  align-items: center;
}
.TextBox {
  display: flex;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  line-height: 0;
  letter-spacing: 1.5px;
  font-weight: 100;
}

.CartInfo {
  width: 100%;
  display: flex;
  height: 593;
  align-items: center;
}

.TextHeader {
  text-align: center;
  box-sizing: border-box;
  color: #f5bd13;
  width: 100%;
  font-family: inherit;
  margin: 50px;
}

.CartBox {
  text-align: center;
  box-sizing: border-box;
  width: 300px;
  height: 550px;
  background-color: white;
  border-radius: 50px;
}

.CartInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cartButton {
  padding: 14px 42px;
  border-radius: 20px;
  border: none;
  background: gray;
  color: black;
  cursor: pointer;
}

.cartButton:hover {
  background-color: rgb(70, 192, 192);
  color: white;
  transition: 0.3s ease-in;
}

.cart {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
}

.CartLogo {
  width: 265px;
  height: 155px;
}

.cartText {
  width: 276px;
  height: 276px;
}

.RoadMap {
  width: 100%;
  display: flex;
  height: 1900px;
  color: white;
  flex-direction: column;
  text-align: center;
}

.TextHeaderRoadmap{
  text-align: center;
  width: 100%;
}
.LineRoadMap{
  margin: 0 auto;
  padding: 0;
  width: 50%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.LineRoadMap h1 {
  font-size: 50px;
  font-style: italic;
  color: #fff;
  margin: 10px 0;
}

.imageRoadMap img{
  width: 100%;
  top: 0;
  left: 0;
  height: 600px;
}

.LandNFT {
  width: 100%;
  display: flex;
  height: 500px;
  color: white;
  flex-direction: column;
  text-align: center;
}

.LandNFTText h1 {
  font-size: 50px;
  font-style: italic;
  color: #f5bd13;
  margin: 10px 0;
}

.LandNFTText{
  margin: 0 auto;
  padding: 0;
  width: 50%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.LoadNFTinfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.BoxLandInfo{
  width: 450px;
  height: 450px;
}

.BoxLandInfo img {
  border-radius: 40px;
  margin: 20px 0;
}

.BoxLandInfo span {
  font-size: 24px;
  font-weight: 700;

}

.MyTeam{
  width: 100%;
  margin: 30px 0;
  color: white;
}

.TextTeam{
  width: 100%;
  text-align: center;
}

.MyTeamInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  text-align: center;
}


.BoxInfo img {
  box-shadow: 1px 2px 4px 0px rgb(255 255 255);
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.DownWhite{
  width: 100%;
  margin: 50px 0;
}

.DownLoad {
  display: flex;
  margin-top: 80px;
  flex-direction: row;
}

.DownLoad:before,
.DownLoad:after {
  content: "";
  border-bottom: 2px solid #fff;
  flex: 1 1;
  margin: auto;
}

.DownLoad button {
  background: #f5bd13;
  padding: 14px 42px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 20px;
}


.Linehr {
  width: 100%;
  height: 50px;
  color: white;
}



